h4 {
  font-size: 1.2rem;
}

label {
  font-size: 1rem;
}

form {
  margin-top:  2rem;
}

.logo-wrapper {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

img.logo {
  margin-top: 40px;
  width:    600px;
  max-width: 100%;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

h2.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.section-title {
  font-weight: 700;
}

.button {
  margin-top: 1rem;
}

.nav-buttons {
  margin-top: 1rem;
}

ul {
  list-style: none;
}

.slide > .row {
  margin-top: 0.4rem;
}

.survey-table {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.question-title,
.ss-gridnumbers,
.ss-grid-button-wrapper {
  text-align: center;
}

tbody > tr:nth-child(2n) {
  border-bottom: 3px solid #141414;
  margin-bottom: 0.4rem;
}

tbody > tr:nth-child(2n+1) > td {
  padding-top: 1.2rem;
  font-size: 1rem;
}

.form-table td.ss-gridrow:first-child {
  background: #008000;
}

.form-table td.ss-gridrow:nth-child(2) {
  background: rgba(0,128,0, 0.5);
}

.form-table td.ss-gridrow:nth-child(3) {
  background: #EFEF6A;
}

.form-table td.ss-gridrow:nth-child(4) {
  background: rgba(255,0,0,0.5);
}

.form-table td.ss-gridrow:last-child {
  background: rgba(255,0,0,1);
}

label.mid-title {
  font-weight: 700;
  margin-bottom: 12px;
}

.button-submit {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 14px;
  background: green;
}