h4 {
  font-size: 1.2rem;
}

label {
  font-size: 1rem;
}

form {
  margin-top:  2rem;
}

.logo-wrapper {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

img.logo {
  margin-top: 40px;
  width:    600px;
  max-width: 100%;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

h2.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.section-title {
  font-weight: 700;
}

.button {
  margin-top: 1rem;
}

.nav-buttons {
  margin-top: 1rem;
}

ul {
  list-style: none;
}

.slide > .row {
  margin-top: 0.4rem;
}

.form-table {
  max-width: 100%;
}

table {
  font-size: 0.8rem;
}